$neutral-lightest:#EEEEEE;
$neutral-lighter:#CCCCCC;
$neutral-light:#AAAAAA;
$neutral:#666666;
$neutral-dark:#444444;
$neutral-darker:#222222;
$neutral-darkest:#111111;
$success-green:#027A48;
$success-green-light:#ECFDF3;
$error-red:#B42318;
$error-red-light:#FEE2E2;